body {
    background-color :  #FEF3C7;

}

h1{
	text-align : center;
	color : PURPLE;
        font-size: 40px;
}
.gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}


.gallery img {
    width: 900px;
    height: 500px;
    object-fit: cover;
    transition: 0.2s;
     border: 3px solid #000080;
}

.gallery img:hover {
    transform: scale(1.1);
}

