.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    gap: 30px;           
}


.item-box {
    display: flex;      
    align-items: center; 
    gap: 15px;           
    max-width: 400px;    
}

.item-box img {
    width: 100px;        
    height: auto;        
    border-radius: 4px;  
}

.item-box p {
    margin: 0;           
    font-size: 16px;     
    color: #333333;      
}
